# Obsidian vault configuration
docs/.obsidian/
!docs/.obsidian/app.json
!docs/.obsidian/appearance.json
!docs/.obsidian/core-plugins.json
!docs/.obsidian/core-plugins-migration.json
!docs/.obsidian/hotkeys.json
!docs/.obsidian/templates.json

# Obsidian vault trash
docs/.trash/

# Temporary directories
temp/

# Temporary files
.DS_Store
