##########################################################################################################################################################################
# Step 1: Self-elevate the script if required
##########################################################################################################################################################################
if (-Not ([Security.Principal.WindowsPrincipal] [Security.Principal.WindowsIdentity]::GetCurrent()).IsInRole([Security.Principal.WindowsBuiltInRole] 'Administrator')) {
    if ([int](Get-CimInstance -Class Win32_OperatingSystem | Select-Object -ExpandProperty BuildNumber) -ge 6000) {
      Write-Host '---(i) INFO: Executing this script in an elevated PowerShell instance'

      $CommandLine = "-ExecutionPolicy ByPass -NoExit -File `"" + $MyInvocation.MyCommand.Path + "`" " + $MyInvocation.UnboundArguments
      Start-Process -FilePath PowerShell.exe -Verb RunAs -ArgumentList $CommandLine

      Write-Host -NoNewLine '---(i) INFO: Execution will proceed in a separate PowerShell window. Press any key to exit...'
      $null = $Host.UI.RawUI.ReadKey('NoEcho,IncludeKeyDown')

      Exit
    }
}

##########################################################################################################################################################################
# Step 2: Install packages
##########################################################################################################################################################################
choco install python3

##########################################################################################################################################################################
# Step 3: Configure Git
##########################################################################################################################################################################
git config --global user.email "{{ .user.email }}"
git config --global user.name "{{ .user.name }}"