alias cap='chezmoi apply'
alias ccd='chezmoi cd'
alias cp='rsync -ah --progress'
alias pac='paru'
alias pgp='gpg'
alias sucp='sudo rsync -ah --progress'
alias tmux='tmux -u'
alias top='glances'
alias vim='nvim'

{{ if eq .chezmoi.os "linux" }}
alias diff='diff -y --color=always --suppress-common-lines'
alias l='ls --color=auto --group-directories-first'
alias ls='ls --color=auto --group-directories-first'
alias mixer='alsamixer'
alias mplayer='mplayer -softvol -softvol-max 1500'
alias sl='ls --color=auto --group-directories-first'
alias tfeh='feh "$(ls -tr | tail -1)" & disown'
alias transmission='transmission-cli'
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
alias echo='gecho'
alias l='gls --color=auto --group-directories-first'
alias la='gls -la --color=auto --group-directories-first'
alias ls='gls --color=auto --group-directories-first'
alias sl='gls --color=auto --group-directories-first'
alias ln='gln'
alias pip='pip3'
alias python='python3'
{{ end }}
