[Unit]
Description=Suspend setting lock screen
Before=sleep.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3wm_lock_screen
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
