[Unit]
Description=Lock screen befor going to sleep or suspend
Before=sleep.target suspend.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3wm_lock_screen
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
