---
window:
  # Window dimensions
  dimensions:
    columns: 150
    lines: 50

  # Spread additional padding evenly around the terminal content
  dynamic_padding: false

  {{ if eq .chezmoi.os "darwin" }}
  padding:
    x: 12
    y: 25
  {{ else }}
  padding:
    x: 10
    y: 10
  {{ end }}

  {{ if eq .chezmoi.os "darwin" }}
  # Window decorations
  decorations: transparent
  {{ end }}

  {{ if (and (eq .chezmoi.os "linux") (ne .host.desktop_environment "kde")) }}
  opacity: 0.8
  {{ end }}

scrolling:
  # Maximum number of lines in the scrollback buffer
  history: 40000

font:
  # Normal font face
  normal:
    family: Hack Nerd Font

  # Point size
  {{ if eq .chezmoi.os "darwin" }}
  # NOTE: This one is tricky, as 12 is better for docked but 11 is perfect for when on the go
  size: 12.0
  {{ else if (and (eq .chezmoi.os "linux") (ne .host.desktop_environment "kde")) }}
  size: 5.0
  {{ else }}
  size: 5.5
  {{ end }}

# Base16 Default Dark 256
# Scheme by Chris Kempson (http://chriskempson.com)
# Adaptation by Aaron Williamson (https://github.com/aaron-williamson)
colors:
  # Default colors
  primary:
    background: '0x181818'
    foreground: '0xd8d8d8'

  # Colors the cursor will use if `custom_cursor_colors` is true
  cursor:
    text: '0x181818'
    cursor: '0xd8d8d8'

  # Normal colors
  normal:
    black:   '0x181818'
    red:     '0xab4642'
    green:   '0xa1b56c'
    yellow:  '0xf7ca88'
    blue:    '0x7cafc2'
    magenta: '0xba8baf'
    cyan:    '0x86c1b9'
    white:   '0xd8d8d8'

  # Bright colors
  bright:
    black:   '0x585858'
    red:     '0xab4642'
    green:   '0xa1b56c'
    yellow:  '0xf7ca88'
    blue:    '0x7cafc2'
    magenta: '0xba8baf'
    cyan:    '0x86c1b9'
    white:   '0xf8f8f8'

  indexed_colors:
    - index: 16
      color: '0xdc9656'
    - index: 17
      color: '0xa16946'
    - index: 18
      color: '0x282828'
    - index: 19
      color: '0x383838'
    - index: 20
      color: '0xb8b8b8'
    - index: 21
      color: '0xe8e8e8'

bell:
  duration: 0

selection:
  save_to_clipboard: true

cursor:
  blink_interval: 500
  style:
    shape: Underline
    blinking: Always

{{ if (or (eq .chezmoi.os "darwin") (eq .host.desktop_environment "kde")) }}
shell:
  {{ if eq .chezmoi.os "darwin" }}
  program: /opt/homebrew/bin/bash
  {{ else }}
  program: /usr/bin/bash
  {{ end }}
  args:
    - --login
    - -c
    {{ if eq .chezmoi.os "darwin" }}
    - /opt/homebrew/bin/tmux -u attach || /opt/homebrew/bin/tmux -u -f ~/.config/tmux/tmux.conf
    {{ else }}
    - tmux -u attach || tmux -u -f ~/.config/tmux/tmux.conf
    {{ end }}
{{ end }}

live_config_reload: true

mouse:
  {{ if eq .chezmoi.os "darwin" }}
  hide_when_typing: false
  {{ else }}
  hide_when_typing: true
  {{ end }}

{{ if (or (eq .chezmoi.os "darwin") (eq .host.desktop_environment "kde")) }}

# Full list of available key codes:
# https://docs.rs/glutin/*/glutin/event/enum.VirtualKeyCode.html#variants
#
# On MacOS: Run `showkey` outside of Tmux (e.g. in a default terminal app),
# type in a key combination (e.g. Ctrl+L), receive output like <CTL-L=FF>,
# look up hex code for the ASCII mnemonic on https://www.asciitable.com
# (for <CTL-L=FF> it is \x0c), then use it as a value for `chars`.
key_bindings:
  - key: Key0
    mods: {{ .alacritty.mod1 }}
    action: ResetFontSize
  - key: Equals
    mods: {{ .alacritty.mod1 }}
    action: IncreaseFontSize
  - key: Plus
    mods: {{ .alacritty.mod1 }}
    action: IncreaseFontSize
  - key: Minus
    mods: {{ .alacritty.mod1 }}
    action: DecreaseFontSize
  - key: V
    mods: {{ .alacritty.mod1 }}
    action: Paste
  - key: C
    mods: {{ .alacritty.mod1 }}
    action: Copy
  - key: Q
    mods: {{ .alacritty.mod1 }}
    action: Quit
  - key: Paste
    action: Paste
  - key: Copy
    action: Copy
  - key: L
    mods: Control
    action: ClearLogNotice
  - key: L
    mods: Control
    chars: "\x0c" # <CTRL-A>l

  # Tmux bridge bindings
  # Move between panes like in i3wm
  - key: J
    mods: {{ .alacritty.mod1 }}
    chars: "\x01\x6a" # <CTRL-A>-j
  - key: K
    mods: {{ .alacritty.mod1 }}
    chars: "\x01\x6b" # <CTRL-A>-k
  - key: H
    mods: {{ .alacritty.mod1 }}
    chars: "\x01\x68" # <CTRL-A>-h
  - key: L
    mods: {{ .alacritty.mod1 }}
    chars: "\x01\x6c" # <CTRL-A>-l

  # Resize panes like similarly to i3wm
  - key: J
    mods: {{ .alacritty.mod1 }}|Shift
    chars: "\x01\x4a" # <CTRL-A>-J
  - key: K
    mods: {{ .alacritty.mod1 }}|Shift
    chars: "\x01\x4b" # <CTRL-A>-K
  - key: H
    mods: {{ .alacritty.mod1 }}|Shift
    chars: "\x01\x48" # <CTRL-A>-H
  - key: L
    mods: {{ .alacritty.mod1 }}|Shift
    chars: "\x01\x4c" # <CTRL-A>-L
  # See: https://github.com/alacritty/alacritty/issues/1359
  - key: Q
    mods: Control
    chars: "\x11" # Magic

  # Jump to a window with a given number
  - key: Key0
    mods: {{ .alacritty.mod1 }}
    chars: "\x01\x30" # <CTRL-A>-0
  - key: Key1
    mods: {{ .alacritty.mod1 }}
    chars: "\x01\x31" # <CTRL-A>-1
  - key: Key2
    mods: {{ .alacritty.mod1 }}
    chars: "\x01\x32" # <CTRL-A>-2
  - key: Key3
    mods: {{ .alacritty.mod1 }}
    chars: "\x01\x33" # <CTRL-A>-3
  - key: Key4
    mods: {{ .alacritty.mod1 }}
    chars: "\x01\x34" # <CTRL-A>-4
  - key: Key5
    mods: {{ .alacritty.mod1 }}
    chars: "\x01\x35" # <CTRL-A>-5
  - key: Key6
    mods: {{ .alacritty.mod1 }}
    chars: "\x01\x36" # <CTRL-A>-6
  - key: Key7
    mods: {{ .alacritty.mod1 }}
    chars: "\x01\x37" # <CTRL-A>-7
  - key: Key8
    mods: {{ .alacritty.mod1 }}
    chars: "\x01\x38" # <CTRL-A>-8
  - key: Key9
    mods: {{ .alacritty.mod1 }}
    chars: "\x01\x39" # <CTRL-A>-9

  # Open a new tmux window
  - key: T
    mods: {{ .alacritty.mod1 }}
    chars: "\x01\x74" # <CTRL-A>-t

  # Close a current tmux window
  - key: T
    mods: {{ .alacritty.mod1 }}|Shift
    chars: "\x01\x54" # <CTRL-A>-T

  # Close a current tmux pane
  # (will not ask for a confirmation due
  # to a custom tmux config)
  - key: X
    mods: {{ .alacritty.mod1 }}
    chars: "\x01\x78" # <CTRL-A>-x

  # Disabled bindings
  - key: F
    mods: {{ .alacritty.mod1 }}|Control
    action: None
  - key: H
    mods: {{ .alacritty.mod1 }}
    action: None
  - key: K
    mods: {{ .alacritty.mod1 }}
    action: None
  - key: M
    mods: {{ .alacritty.mod1 }}
    action: None
  - key: W
    mods: {{ .alacritty.mod1 }}
    action: None
  - key: PageUp
    mods: Shift
    mode: ~Alt
    action: None
  - key: PageDown
    mods: Shift
    mode: ~Alt
    action: None
  - key: Home
    mods: Shift
    mode: ~Alt
    action: None
  - key: End
    mods: Shift
    mode: ~Alt
    action: None
{{ end }}
